#chat{
    position: relative;
    top: 41px;
    border-radius: 20px;
    left: 562px;
    height: 600px;
    width: 600px;
    background-color: #151515;
}
#names{
    
    margin-left: -240px;
    border-radius: 20px;
    height:600px;
    width:240px;
    background-color: grey;
}
#details{
    margin: 13px 15px;   
     display: flex;
    height: 53px;
    width: 211px;
    border-bottom: white solid 1px;
}
#details img{
    height: 35px;
    margin-top: 12px;
    width: 35px;
}
#details h3{
    margin-left: 10px;
    color: white;
    font-size: 20px;
}
#names a{
    outline: none;
    color:white;
    text-decoration: none;
}
#chat #nav{
    width: 100%;
    height: 50px;
    background-color: green;
}
#chat #messagein{
    position: absolute;
    bottom: 7px;
    height: 20px;
    width: 435px;
    margin: 19px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    left: 0;


}
#line{
    position: absolute;
    bottom: 81px;
    margin-left: 25px;
    height: 0.5px;
    width: 540px;
    background-color: white;
}
#chat button{
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 24px;
    left: 489px;
    height: 34px;
    width: 65px;
    margin: 5px;
    padding: 6px;
    border-radius: 20px;
    outline: none;
    border: none;

}
#messages{
    display: flex;
    flex-direction: column-reverse;
  
    position: absolute;
    bottom: 98px;
    left: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    
    max-height: 430px;
    padding: 20px;
    width: 512px;
   

}

#messages::-webkit-scrollbar{
    width: 0;
}
#messages #message{
    max-height: 300px;
    width: fit-content;
    padding: 6px 10px;
    margin: 7px;
    border-radius: 10px;
    max-width: 180px;
    background-color: aqua;
    display: flex;
    justify-self: end;

}
#message h5{
    margin: 0;
    font-size: 11px;
    font-weight: normal;
    color: grey;
    margin-left: 8px;
    margin-top: 23px;
}
#oppomessage{
    display: flex;
    justify-self: end;
    max-height: 300px;
    padding: 6px 10px;
    margin: 7px;
    width: fit-content;
    margin-left: 304px;
    border-radius: 10px;
    max-width: 180px;
    background-color: rgb(35, 219, 50);

}
#oppomessage h5{
    margin: 0;
    font-size: 11px;
    font-weight: normal;
    color: grey;
    margin-left: 8px;
    margin-top: 23px;
}
