#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 10px;
    top: 220px;
    left: 5px;
    height:fit-content;
    width: 200px;
    background-color: #0d0e0d;
    border-radius: 40px;

}
#menu h2{
    color:white;
}
#menu #line{
    height:1px;
    width:150px;
    background-color: white;
}
#tags h3{
    color:white;
}
#problem h2{
    color:white;
}
#box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
#box img{
    margin-top: 15px;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
#notification img{
    margin-top: 15px;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}
#notification{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
 #menu a{
    margin-top: -16px;
    text-decoration: none;
    color: black;

}